<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Recipes.Vault</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body hx-boost="true">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <header>
      <h1>Recipes.Vault</h1>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
